header{
    background: url('../../assets/img/header-background-blue.jpg') 50% 90%;
    background-size: cover;
    nav{
        padding: 1rem !important;
        .nav-link{
            padding: .5rem 1rem !important;
        }
    }
    h1{
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
    }
    p{
        color: rgba(255,255,255,.85);
    }
}